# Archivos de entorno de Python
venv/
__pycache__/
*.pyc

# Carpeta de datos
data/

# Carpeta de modelos
models/

# Archivos de salida de entrenamiento
reports/

# Jupyter Notebooks
.ipynb_checkpoints

# Variables de entorno
.env

# Archivos de configuración de IDE
.vscode/
.idea/